@charset "utf-8";

@media screen and (max-width: 600px) {
  body {
    background: #fff;
    font-size: 14px;
  }


  .container {
    width: 100%;
    margin: 25px auto !important;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
  }
}

@media screen and (min-width: 600px) {
body {
  background: #fff;
  font-size: 16px;
}


  .container {
    width: 600px !important;
    margin: 25px auto;
    -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      cursor: default;
  }
}






.input-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.output-area {
  margin-bottom: 16px;
}

.result-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.edit-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

#item-btn-A,
#item-btn-B,
#item-btn-C{
    display: block;
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    padding: 10px;
	  border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    transition: .4s;
}

#input-btn{
    display: block;
    padding: 10px 34px;
    margin-bottom: 10px;
	  border-radius: 6px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

#reset-btn{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 6px;
    transition: .4s;
}

#result-item-A,
#result-item-B,
#result-item-C {
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #434343;
  background: #f8f8f8;

}

hr.style1 {
	border-top: 2px solid #8c8b8b;
  margin: 0 0 16px 0;
}


#editBtn,
#extBtn {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding: 7px;
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #434343;
}

#doneBtn {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding: 7px;
  background: #ffadad;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #434343;
}


#deleteBtn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding: 7px;
  right: 0;
  background: #afafaf;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #fff;
}




table {
    color: #434343;
    width: 100%;
    border: 1px solid #DDD;
    border-collapse: collapse;
}

table thead,
table tbody {
    display: block;
}

table tbody {
    overflow-y: scroll;
    height: 450px;        /* 高さはお好みで */
}

#table_f_body::-webkit-scrollbar {
  display: none;
}

.t_title {
  text-align: right;
}

#tf_title th {
  text-align: center;
}


#plusBtn {
  font-size: 10px;
  color: #afafaf;
  padding: 0px 4px;
  text-align: center;
  margin-right: 8px;
}

#minusBtn {
  font-size: 10px;
  color: #afafaf;
  padding: 0px 4px;
  text-align: center;
  margin-left: 8px;
}


table tr th {
    background: #f2f2f2;
    padding: 6px 10px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    color: #434343;
}

table tr td {
    font-size: 10px;
    color: #cccccc;
    text-align: center;
    padding: 3px 10px;
    vertical-align: middle;
    background: #fff
}

/* 各列の幅を設定 */

.col0 { width: 200px;  }
.col1 { width: 100px;  }
.col2 { width: 100px;  }
.col3 { width: 100px; }
.col4 { width: 100px;  }



#count {
  color: #434343;
}

#getcell {
  color: #ef7373;
  font-weight: bold;
}
