@charset "utf-8";

body {
  background: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.container {
  width: 600px;
  margin: 25px auto;
  -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.spreadsheet {
  width: 500px;
  margin: 25px auto;
}

#item-btn-A,
#item-btn-B,
#item-btn-C {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #434343;
  margin-right: 10px;
}

#input-btn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #3897fd;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}

#reset-btn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #3897fd;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

#result-item-A,
#result-item-B,
#result-item-C {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #434343;
  margin-right: 10px;
}

.input-area {
  font-size: 0;
  margin-bottom: 20px;
}

.result-area {
  font-size: 0;
  margin-bottom: 20px;
}

#result {
  margin: 0;
  color: #434343;
}

table .t_null {
  margin: 0;
  padding: 0;
}

table {
    color: #434343;
    width: 100%;
    border: 1px solid #DDD;
    border-collapse: collapse;
}

table thead,
table tbody {
    display: block;
}

table tbody {
    overflow-y: scroll;
    height: 450px;        /* 高さはお好みで */
}

#t_title {
  text-align: right;
}

#tf_title th {
  text-align: center;
}


table tr th {
    background: #f2f2f2;
    padding: 6px 10px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    color: #434343;
}

table tr td {
    font-size: 13px;
    color: #cccccc;
    text-align: center;
    padding: 3px 10px;
    vertical-align: middle;
    background: #fff
}

/* 各列の幅を設定 */
table .col0 { width: 110px;  }
table .col1 { width: 100px;  }
table .col2 { width: 70px;  }
table .col3 { width: 70px; }
table .col4 { width: 70px;  }


#count {
  color: #434343;
}

#getcell {
  color: #ef7373;
  font-weight: bold;
}
