@charset "utf-8";

body {
  background: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}



.container {
  width: 600px;
  margin: 25px auto;
  -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.spreadsheet {
  width: 500px;
  margin: 25px auto;
}

#item-btn-A,
#item-btn-B,
#item-btn-C {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #668ad8;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  border-bottom: solid 4px #627295;
}

#item-btn-A:active,
#item-btn-B:active,
#item-btn-C:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

#input-btn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #3897fd;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  border-bottom: solid 4px #627295;
}

#reset-btn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #bcbcbc;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-bottom: solid 4px #627295;
}

#input-btn:active,
#reset-btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

#result-item-A,
#result-item-B,
#result-item-C {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #434343;
  margin-right: 10px;
}

#editBtn,
#extBtn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding: 7px;
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #434343;
  margin-right: 13px;
}

#doneBtn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding: 7px;
  background: #ffadad;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #434343;
  margin-right: 13px;
}

#deleteBtn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding: 7px;
  right: 0;
  background: #afafaf;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  margin-right: 13px;
  margin-left: auto;
}



.input-area {
  font-size: 0;
  margin-bottom: 20px;
}

.result-area {
  font-size: 0;
  margin-bottom: 40px;
}

.edit-area {
  font-size: 0;
  margin-bottom: 10px;
}

table {
    color: #434343;
    width: 100%;
    border: 1px solid #DDD;
    border-collapse: collapse;
}

table thead,
table tbody {
    display: block;
}

table tbody {
    overflow-y: scroll;
    height: 450px;        /* 高さはお好みで */
}

#t_title {
  text-align: right;
}

#tf_title th {
  text-align: center;
}

.fa-plus {
  font-size: 13px;
  color: #afafaf;
  padding-right: 15px;
}

.fa-minus {
  font-size: 13px;
  color: #afafaf;
  padding-left: 15px;
}


table tr th {
    background: #f2f2f2;
    padding: 6px 10px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    color: #434343;
}

table tr td {
    font-size: 13px;
    color: #cccccc;
    text-align: center;
    padding: 3px 10px;
    vertical-align: middle;
    background: #fff
}

/* 各列の幅を設定 */
.col0 { width: 110px;  }
.col1 { width: 100px;  }
.col2 { width: 70px;  }
.col3 { width: 70px; }
.col4 { width: 70px;  }


#count {
  color: #434343;
}

#getcell {
  color: #ef7373;
  font-weight: bold;
}
